.LeftSection {
    text-align: left;
   padding : 0 20px;
   border-right: 1px solid #ccc;
}

.section-title{
    font-size: 1.5em;
    margin-bottom: 20px;
}

.section-sub-title{
    font-size: 1.2em;
    margin: 0;
}


  .year{
    font-size: 0.8em;
}