.App {
  text-align: center;
  margin : auto;
  width : 800px;
  border : 1px solid #eee;
  background-color: white;
  padding : 0px 50px;
}

.main-section{
  display: flex;
}

.LeftSection{
  flex:1;
  /* height:50px; */
}

.RightSection{
  flex:1;
  /* height:50px; */
}